<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta name="author" content="{{ htmlWebpackPlugin.options.author }}">
    <meta property="og:title" content="{{ htmlWebpackPlugin.options.title }}">
    <meta property="og:description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta property="og:image" content="{{ htmlWebpackPlugin.options.image }}">
    <meta property="og:url" content="{{ htmlWebpackPlugin.options.url }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ htmlWebpackPlugin.options.title }}">
    <meta name="twitter:description" content="{{ htmlWebpackPlugin.options.description }}">
    <meta name="twitter:image" content="{{ htmlWebpackPlugin.options.image }}">
  </head>
  <body>
    <main>
      {{> member-card/member.template id='4514'}}
      {{> member-card/member.template id='4521'}}
      {{> member-card/member.template id='4513'}}
      {{> member-card/member.template id='3305'}}
    </main>
  </body>
</html>
