<article
  data-module="Card"
  class="card"
>
  {{#if image}}
    <img
      src="{{image}}"
      alt=""
      class="card__image"
    >
  {{/if}}
  {{#if party}}
    <h2 class="card__party">{{party}}</h2>
  {{/if}}
  {{#if name}}
    <h3 class="card__name">
      {{name}}
    </h3>
  {{/if}}
  {{#if constituency}}
    <p class="card__constituency">{{constituency}}</p>
  {{/if}}
  {{#if status}}
    <span class="card__status">
      {{status}}
    </span>
  {{/if}}
</article>
